body {
  margin: 0;
}
.container {
  background-color: beige;
}

header .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .navigation-bar ul {
  display: flex;
  align-items: center;
}

header .navigation-bar ul li {
  list-style: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: 16px;
}
header .navigation-bar ul li a {
  text-decoration: none;
  color: #000;
}
header .navigation-bar ul li button {
  color: #fe4c1c;
  background-color: #fff;
  border: 2px solid #fe4c1c;
  text-transform: uppercase;
  padding: 7px;
}
