body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* general styles */
.container {
  background-color: white;
}

/* Logo and navigation menu */

header .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .navigation-bar ul {
  display: flex;
  align-items: center;
}

header .navigation-bar ul li {
  list-style: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: 16px;
}
header .navigation-bar ul li a {
  text-decoration: none;
  color: #000;
}
header .navigation-bar ul li button {
  color: #fe4c1c;
  background-color: #fff;
  border: 2px solid #fe4c1c;
  text-transform: uppercase;
  padding: 7px;
}

/* menu bottom animation bar */
header .navigation-bar ul li a:before {
  content: '';
  height: 3px;
  width: 0%;
  background-color: orange;
  position: absolute;
  bottom: -4px;
  transition: all 500ms ease;
}

header .navigation-bar ul li a:hover {
  color: orange;
}
header .navigation-bar ul li a:hover:before {
  width: 100%;
}
header .navigation-bar ul li a {
  position: relative;
  transition: all 500ms;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: '';
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  opacity: .5;
}

.hero_content {
  position: absolute;
  top: 40vh;
  left: 20%;
  z-index: 999;
  color: white;
  width: 40%;
  /* background:green; */
}

.hero_content h1 {
  font-weight: bold;
  font-size: 48px;
}

/* .hero_content h1::before{
  
} */


.hero_content h4{
  position: relative;
  width:30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero_content h4::before{
  content: '';
  width:40px;
  background:rgb(226, 73, 3);
  height:6px;
  
}

.underline{
  width:100%;
  position: relative;
  z-index: 999;
}
.underline::after{
  content:'';
  width: 100%;
  background:rgb(226, 73, 3);
  height:10px;
  position: absolute;
  bottom:8px;
  left:0;
  z-index: -1;
}

.hero_buttons{
 

}

.play_button{
  padding: 15px;
  border: none;
  color: black;
  background: white;
  width: 60px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 80px;
  height:60px;
  text-align: center;
  margin-left:20px;
}


.hero_button {
  padding: 15px;
  border: none;
  color: white;
  background: rgb(226, 73, 3);
  width: 25%;
  font-size: 22px;
  font-weight: bold;
}

.hero_button:hover {
  background: white;
  color: black;
  border: 1px solid rgb(226, 73, 3);
}




.pre_logo{
  color:rgb(226, 73, 3);
}


.logo h2{
  position: relative;
  z-index: 999;
  font-weight: bold;
  font-size:28px;
}

.logo h2::after{
  content: '';
  width:10px;
  height:10px;
  background:rgb(226, 73, 3);
  position: absolute;
  bottom:0;
  left:64px;
  z-index: -1;
}


.services{
  background:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(241, 246, 253, 1) 100%);
  margin:0;
  padding:10px;
  
}

.section_title{
  width: 40%;
  margin:auto;
  text-align:center;
}

.bar{
  width:10%;
  height:5px;
  background:rgb(226, 73, 3);
  border:none;
  opacity: .5;
  position: relative;
  margin:auto;
}

.bar::before{
  content:'';
  width: 12%;
  height:10px;
  position: absolute;
  bottom:0;
  left:43%;
  background:rgb(255, 123, 0);
  opacity:1;
  z-index:999;
}

.row{
  width:60%;
  margin:auto;
  display: flex;
  margin-top:50px;
  margin-bottom:50px;
  /* padding:10px; */
}

.service_part{
  background:rgb(255, 255, 255);
  padding:20px 10px 20px 10px;
  margin:5px;
  height:320px;
  border-radius: 5px;
  position: relative;
  box-shadow: 9px 9px 14px -8px rgba(0,0,0,0.28);

}

.service_part h3:hover{
  color:rgb(226, 73, 3);
}

.service_part span{
  position: absolute;
  bottom:15px;
  left:15px;
  
}

.service_part::after{
  content: '';
  width:0%;
  height:5px;
  background:rgb(226, 73, 3);
  position: absolute;
  bottom:0;
  left:0;
  border-radius:10px;
}

.service_part:hover:after{
  width:100%;
  transition: all 500ms ease-in-out;
}

.services_btn{
  background:rgb(226, 73, 3);
  color:white;
  padding:15px;
  border:none;
  margin-left:45%;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 9px 9px 14px -8px rgba(0,0,0,0.28);
}

.services_btn:hover{
  color:rgb(226, 73, 3);
  background: white;
  border:2px solid rgb(226, 73, 3);
}



.about{
  width:100%;
  text-align: center;
  margin-top:40px;
  background:#f1f6fd;
  padding: 10px 0px 10px 0px;
}

.about_title{

}

.icons{
  width:50%;
  margin:auto;
  display: flex;
  justify-content: space-around;
  font-size:18px;
  font-weight: bold;
}

.about_content{
  display: flex;
  width:100%;
  height:70vh;
  margin-top:40px;
}

.about_image{
  background-image: url('/images/about_image.jpg');
  width:50%;
  height:70vh;
  background-size:cover;
  background-repeat: no-repeat;
}

.about_text{
  height:70vh;
  width:50%;
  background:#1D2228;
  color:white;
  padding:0px 20px 0px 20px;
  text-align:left;
}

.about_text h1{
  font-weight:bold;
  font-size:42px;
  
}
.about_services{
  display:flex;
  width:60%;
  justify-content: space-around;
  margin-top:50px;
}

.about_service{
  padding:10px;
  background: rgb(35, 39, 44);
  color:white;
  text-align:center;
  width:25%;
}

.about_service i{
  font-weight:bold;
  font-size:52px;
  color:rgb(226, 73, 3);
}

